.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #a672cf;
    display: flex;
    align-items: center;
}

.container {
    max-width: 97%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.link {
    text-decoration: none;
    padding: 10px;
    color: #fff;
}

.active {
    color: #ffffff33;
}
.toggleButtonBlock {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.toggleButton {
    border: none;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}
.toggleImg {
    width: 30px;
}